.container{
    display:flex;
    flex-direction: row;
    align-items: center;
    font-family: 'Times New Roman', Times, serif;
    font-size: 2vmin;
    color: black;
   
}

.title{
    text-align: left;
    width: 8vmin;
}

.button{
    border-radius: 20%;
    width: 2vmax;
    height: 2vmax;
    margin: 5px;
   
}