.holocron-demo{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    column-gap: 100px;
    
}

.git-link{
    font-size: 2vw;
}

.sith-demo{
    width: 300px;
}

.jedi-demo{
    width: 300px;
}