.container{
    max-width: 90%;
    border-radius: 5%;
    border: white;
    border-style: solid;
    display:flex;
    flex-direction: row;
    align-items: center;
    font-size: 1.5vh;
    color: white;
   
}

.title{
    text-align: right;
    width: 5vmax;
    margin-right: 2px;
}

.button{

    border-radius: 20%;
    border: none;
    width: 2vmax;
    height: 2vmax;
    margin:1px;

}