.container {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 2vw;
}

#list li {
  display: inline;
  list-style-type: none;
}

.title {
  font-size: 100%;
  text-align: left;
  width: 5vmin;
}

.button {
  border-radius: 20%;
  border: transparent;
  border-style: solid;
  width: 2vw;
  height: 2vw;
  margin: 1px;
  opacity: 0.8;
}

.button:hover {
  opacity: 1.5;
  border: white;
  border-style: solid;
  cursor: pointer;
}

@media only screen and (max-width: 1000px) {
  .button {
 
  width: 5px;
  height: 18px
    
  }

  .container {
    height: 10px;
  }
}
