.CharacterCreate {
  
 

  background: linear-gradient(90deg, #262b44 0%, #262b44 100%);
    border-radius: 5%;
    border: white;
    border-style: solid;
    width: 80%;
    height: 90%;
    display: grid;
    
    
    gap: 5px;
    align-items: center;
    justify-content: left;
    padding:40px;
    
  }
  
  
  .Character-Background{
    
    background: linear-gradient(90deg, #390101 0%, #390101 100%);
    border-radius: 5%;
    border: white;
    border-style: solid;
  }
  
  .character{
  
    position: relative;
    animation: updown 3s linear infinite;
    
  }
  
  .Main-Container{
  
    display: flex;
    align-items: center;
    justify-content: center;
    margin-top: 1%;
    font-size: 2vmin;
    color: white;
    
    
  }
  
  
  .Asset-manager-container{
    align-self: start;
    border-radius: 5%;
    border: white;
    border-style: solid;
    display: flex;
    flex-direction: column;
    row-gap: 1vmax;
   
   
  }
  
  /* @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  @keyframes updown{
    0%, 100% {
      bottom: -10px;
    }
    50% {
      bottom: 0px;
    }
  }
  