.CharacterCreate {
  
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 10%;
    
  }
  
  
  .Character-Background{
    
    background: linear-gradient(90deg, #390101 0%, #390101 100%);
    border-radius: 5%;
    border: white;
    border-style: solid;
  }
  
  .character{
  
    position: relative;
    animation: updown 3s linear infinite;
    
  }
  
  .Main-Container{
  
    background: linear-gradient(90deg, #262b44 0%, #262b44 100%);
    border-radius: 5%;
    border: white;
    border-style: solid;
    width: 50vmax;
    height: 30vmax;
    display: flex;
    flex-direction: row-reverse;
    align-items: center;
    justify-content: center;
    font-size: calc(10px + 2vmin);
    color: white;
    
    
  }
  
  
  .Asset-manager-container{
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 1vmax;
    min-width: 300px;
    z-index: 2;
  }
  
  /* @keyframes spin {
    from {
      transform: rotate(0deg);
    }
    to {
      transform: rotate(360deg);
    }
  } */
  
  @keyframes updown{
    0%, 100% {
      bottom: -10px;
    }
    50% {
      bottom: 0px;
    }
  }
  