.main-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 10px;
  margin-top: 1%;
  font-size: 2vmin;
  color: white;
}

.button-a-r {
  border-radius: 20%;
  border: transparent;
  border-style: solid;
  color: white;
  font-size: 1.2vw;
  text-align: center;
  width: 2vw;
  height: 2vw;
  margin: 1px;

  background: #262b44;
}
.button-a-r:hover {
  border: white;
  border-style: solid;
  cursor: pointer;
}

.publish {
  background: #111111;
  margin-top: 1%;
  align-self: center;
  text-align: center;
  padding: 10px;
  font-family: "SMW Text 2 NC", sans-serif;
  text-align: center;
  font-size: auto;
  color: white;
  border-radius: 20%;
  border-style: solid;
  border-color: white;
}
.publish:hover {
  background: white;
  color: #111111;
  cursor: pointer;
}

.character-creation-wrapper {
  width: fit-content;
  height: fit-content;
  background: linear-gradient(90deg, #262b44 0%, #262b44 100%);
  border-radius: 5%;
  border: white;
  border-style: solid;

  gap: 5px;
  /* justify-content: left; */
  padding: 40px;
}

.character-create {
  display: flex;
  flex-direction: row;
  gap: 5px;
}

.character-background {
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5%;
  border: white;
  border-style: solid;
  width: 20vw;
}

.character-hover-wrapper {
  width: 100%;
  position: relative;
  animation: updown 2s linear infinite;
}

.char-title {
  padding: 10px;
  margin-top: 5px;
  margin-bottom: 5px;

  border: white;
  border-radius: 15%;
  border-style: solid;
  font-family: "SMW Text 2 NC", sans-serif;
  color: white;
  background-color: #262b44;
  resize: none;
  outline: none !important;
}

.asset-container {
  display: flex;
  flex-direction: column;
  align-self: center;
}
.is-sith-button {
  position: absolute;
  margin-top: 3%;
  margin-right: 75%;
  font-family: "SMW Text 2 NC", sans-serif;
  text-align: center;
  background: transparent;
  font-size: 1vw;
  color: white;
  justify-self: center;
  align-self: flex-start;
  border-radius: 20%;
  border-style: solid;
  border-color: white;
  opacity: 0.9;
  z-index: 99;
}

.is-sith-button:hover {
  opacity: 1;
  cursor: pointer;
}

.is-right-button {
  position: absolute;
  margin-right: -85%;
  margin-top: 3%;
  font-family: "SMW Text 2 NC", sans-serif;
  text-align: center;
  background: transparent;
  font-size: 1vw;
  color: white;
  justify-self: right;
  align-self: flex-start;
  border-radius: 20%;
  border-style: solid;
  border-color: white;
  opacity: 0.9;
  z-index: 99;
}

.is-right-button:hover {
  opacity: 1;
  cursor: pointer;
}

.asset-manager-container {
  width: auto;
  padding: 2px;
  border-radius: 5%;
  border: white;
  border-style: solid;
  display: flex;
  flex-direction: column;
}

@keyframes updown {
  0%,
  100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
