.main-play-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: center;

  color: white;
}

.resume-info-wrapper {
  text-align: left;
  width: 40%;
}

.resume-title-text {
  font-size: 40px;
}

.play-character-container {
  width: 300px;
}
.holocron-asset {
  width: 300px;
}

@media only screen and (max-width: 1200px) {
  .play-character-container {
    width: 200px;
  }

  .main-play-wrapper {
    flex-direction: column;
  
  }

 

  .resume-info-wrapper {
    text-align: center;
    width: 50%;
   
  }

  .holocron-asset {
    width: 200px;
  }

  .resume-typer-wrapper {
    font-size: 1.8vw;
  }

  .resume-title-text{
    font-size: 3vw;
}
}
