.main-play-wrapper{
    
    display:flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
    
    color:white;
   
    

}

.play-character-container{
    
    width: 300px;
}
.holocron-asset{
    
    width: 300px;
}

@media only screen and (max-width: 1200px) {
.play-character-container{
    
    width: 200px;
}

.main-play-wrapper{
    
   
    flex-direction: column;
   
    

}

.holocron-asset{
    
    width: 200px;
}

}