.preview-wrapper{
  padding:10px;
}
.contact-field{
  cursor: pointer;
}
.copy-wrapper{
  display:flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  
}

.url-field{
  width: 600px;
  cursor:pointer;

}
.edit-delete-wrapper{
  display:flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  column-gap: 2%;
  margin: 1px;
}
.copy-confirm{
  border: white;
  border-radius: 5%;
  border-style: solid;
  background: green;
  font-size: 80%;
  color: white;
  padding: 1px;
  margin: 5px;
  
}


.preview-text-field {
  padding: 5px;
  margin-top: 5px;
  margin-bottom: 5px;
  border: white;
  border-radius: 5%;
  border-style: solid;
  font-family: "SMW Text 2 NC", sans-serif;
  color: white;
  background-color: #262b44;
  resize: none;
  outline: none !important;
  caret-color: transparent;
}

.contact-info{
  display:flex;
  flex-direction: row;
  margin: 10px;
}

.preview-character-container{
  align-self: center;
  width: 400px;
}

@media only screen and (max-width: 700px) {
  .preview-character-container{
  
    width: 300px;
  }

.contact-info{
  align-self: center;
 
  flex-direction: column;
 

}

.url-field{
  width: 350px;
  
  font-size: 8px;
  
}

.text-field{
  width: 400px;
 
}
}


  

@media only screen and (max-width: 500px) {
  
  .url-field{
    width: 200px;
    
    font-size: 6px;
    
  }
  
  .text-field{
    width: 200px;
  }
  }
