.App {
  text-align: center;
}

/* .App-logo {
  height: 40vmin;
  pointer-events: none;
} */

.Saber-Container{
  /* animation-name: spin;
  animation-duration: 5000ms;
  animation-iteration-count: infinite;
  animation-timing-function: linear;  */
  
  animation: updown 3s linear infinite;
  position: relative
  
}

/* @media (prefers-reduced-motion: no-preference) {
  .Saber {
    animation: Saber-spin infinite 20s linear;
  }
} */

.App-header {
  
  background-color: #FAFAFA;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
}



/* .App-link {
  color: #61dafb;
} */

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes updown{
  0%, 100% {
    bottom: 0;
  }
  50% {
    bottom: 10px;
  }
}
