.App {
  text-align: center;
}

.Results-Container{
  position:relative;
}
.inner{
  position: absolute; 
  top: 0; left: 0; right: 0; bottom:0;
}

.Character-Container{
 
  animation: updown 3s linear infinite;
  position: relative;

  
}

/* @media (prefers-reduced-motion: no-preference) {
  .Saber {
    animation: Saber-spin infinite 20s linear;
  }
} */

.Main-Container{
  
  background-color: #555555;
  min-height: 100vh;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  
}


.Asset-manager-container{
  margin-right: 10px;
  position: relative;
  display: flex;
  flex-direction: column;
  min-width: 300px;
}

@keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@keyframes updown{
  0%, 100% {
    bottom: -10px;
  }
  50% {
    bottom: 0px;
  }
}
