.App {
  
  display: flex;
  flex-direction: column;
  
  align-items: center;
  margin-top: 10%;
  
}

/* .Results-Container{
  position:relative;
}
.inner{
  position: absolute; 
  top: 0; left: 0; right: 0; bottom:0;
} */

/* .Results-Container{
  display: flex;
  flex-direction: row;
  width:50%;
  height: 120vh;
  align-items: center;
  object-fit: contain;
  
} */

/* Background{
  object-fit: cover;
  position: fixed;
  z-index: -1;
} */

.Character-Background{
  
  background: linear-gradient(90deg, #390101 0%, #390101 100%);
  border-radius: 5%;
  border: white;
  border-style: solid;
}

.Character-Container{

  position: relative;
  animation: updown 3s linear infinite;
  
}

.Main-Container{

  background: linear-gradient(90deg, #262b44 0%, #262b44 100%);
  border-radius: 5%;
  border: white;
  border-style: solid;
  width: 50vmax;
  height: 40vmax;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
  
  
}


.Asset-manager-container{
  position: relative;
  margin-right: 20px;
  display: flex;
  flex-direction: column;
  row-gap: 1vmax;
  min-width: 300px;
  z-index: 2;
}

/* @keyframes spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

@keyframes updown{
  0%, 100% {
    bottom: -10px;
  }
  50% {
    bottom: 0px;
  }
}
